@model MVCConsultorioMedico.Models.ObjDatosFiscales

@{
    ViewBag.Title = "Index";
}

<h2>HomeController - Datos Fiscales</h2>

<br />
@Model.Id
<br />
@Model.RFC
<br />
@Model.RazonSocial
<br />
@Model.DireccionSocial
<br />
@Model.Email
<br />
@Model.Regimen
<br />
@Model.EmpresaId
<br />

@using (Html.BeginForm("", "DatosFiscales", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <label>RFC:</label>
            @Html.TextBoxFor(m => m.RFC, new { @class = "form-control" })
        </div>

        <div class="col-md-4">
            <label>Razón Social:</label>
            @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <label>Dirección:</label>
            @Html.TextBoxFor(m => m.DireccionSocial, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="button" id="btnGuardar" value="Guardar" class="btn btn-success" />
        </div>
    </div>
}