@model MVCConsultorioMedico.Models.ObjDatosFiscales

@{
    ViewBag.Title = "Index";
}

<h2>Datos Fiscales</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

@using (Html.BeginForm("SaveOrUpdateDatosFiscales", "DatosFiscales", FormMethod.Post, new { @id = "frmDatosFiscales", @name = "frmDatosFiscales" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.EmpresaId)
    @Html.HiddenFor(x => x.Estatus)
    @Html.HiddenFor(x => x.CreatedDt)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.UpdatedBy)
    @Html.HiddenFor(x => x.UpdatedDt)

    <div class="row form-group">
        <div class="col-md-4">
            <label>RFC:</label>
            @Html.TextBoxFor(m => m.RFC, new { @class = "form-control" })
        </div>

        <div class="col-md-4">
            <label>Razón Social:</label>
            @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <label>Dirección:</label>
            @Html.TextBoxFor(m => m.DireccionSocial, new { @class = "form-control" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-6">
            <label>Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            <label>Regimen</label>
            @Html.TextBoxFor(m => m.Regimen, new { @class = "form-control" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <input type="button" id="btnGuardar" value="Guardar" class="btn btn-success" />
        </div>
    </div>
}

<script src="~/Scripts/DatosFiscales/DatosFiscales.js"></script>